---
title: Systemix concepts
category: documentation
---

<script lang="ts">
	import { base } from '$app/paths';
</script>


# {title}

## Presentation of Systemix

*Systemix* is a framework for managing the parameters of a system.
